{% extends './layout.html' %}

{% block title %} Extends {%endblock%}

{% block body %}

    <h1 align="center">ETIQUETAS DE REDIRECCIONAMIENTO de {{titulo}}</h1/n>
    <h1 align="center">Amaury Martínez Díaz</h1>

    <a href="https://www.instagram.com/mau_km13/"> <h1 align="center"> Follow me on instagram </h1></a>
    <footer style="background-color:aquamarine">
        <h1 align="center">Contactanos en:</h1>
        <h1 align="center"> mdamaury10@gmail.com </h1>

    </footer>
    

{%endblock%}
